---
import {
  Card,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Button } from "./ui/button";

const benefits = [
  {
    title: "Simple to Use",
    description:
      "Set up your locations and items once. Then do quick daily counts without the spreadsheet chaos.",
  },
  {
    title: "Insights at a Glance",
    description:
      "Get a snapshot of your inventory across all locations or take a closer look at specific locations.",
  },
  {
    title: "Use on Any Device",
    description:
      "Monitor and update your inventory from your phone, tablet, or computer. No desktop-only limitations.",
  },
  {
    title: "You're In The Loop",
    description:
      "Your feedback will reflect in how the app grows. Not every idea ships, but every voice shapes the direction.",
  },
];
---

<div class="max-w-screen-lg mx-auto px-4 text-left my-40">
  <h2 class="text-2xl font-black md:text-3xl">
    Built for small business.<br />Not large warehouses.
  </h2>
  <p
    class="sm:max-w-1/2 text-lg text-muted-foreground font-light my-2 md:text-xl"
  >
    Perfect for daily counts and quick stock checks across multiple locations.
  </p>
  <div class="mt-4 grid sm:grid-cols-2 gap-4">
    {
      benefits.map((feature) => (
        <Card key={feature.title}>
          <CardHeader>
            <CardTitle className="text-lg font-semibold">
              {feature.title}
            </CardTitle>
            <CardDescription className="text-base text-neutral-500">
              {feature.description}
            </CardDescription>
          </CardHeader>
        </Card>
      ))
    }
  </div>
  <div class="mt-8 flex items-center justify-center">
    <Button variant="link" className="text-lg">
      <a href="https://just-count-silk.vercel.app/">Get Started</a>
    </Button>
  </div>
</div>
