---
import {
  Card,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

const benefits = [
  {
    title: "Multi-Location Dashboard",
    description: "See stock levels at every shop from one screen.",
  },
  {
    title: "Fast Manual Updates",
    description: "Your staff logs inventory in seconds.",
  },
  {
    title: "Track Transfers with Ease",
    description:
      "Keep track of stock transfers between locations with a simple update.",
  },
  {
    title: "Mobile-Friendly",
    description:
      "Update inventory on the go, from a phone or tablet, as items are used.",
  },
];
---

<div class="max-w-screen-lg mx-auto px-4 text-left my-40">
  <h2 class="text-xl font-black max-w-lg md:text-3xl">
    Running Multiple Shops Is Hard. Keeping Track of Inventory Shouldn't Be.
  </h2>
  <p class="text-muted-foreground font-light my-2 max-w-md md:text-lg">
    See what's in stock at every location, avoid wasted items, and simplify
    transfers, all from one easy dashboard.
  </p>
  <div class="mt-4 grid sm:grid-cols-2 gap-4">
    {
      benefits.map((feature) => (
        <Card key={feature.title}>
          <CardHeader>
            <CardTitle className="font-semibold">{feature.title}</CardTitle>
            <CardDescription className=" text-neutral-500">
              {feature.description}
            </CardDescription>
          </CardHeader>
        </Card>
      ))
    }
  </div>
  <div class="mt-8 flex items-center justify-center">
    <a
      href="https://app.justthecount.com/"
      class="text-sm underline-offset-4 font-semibold transition duration-150 text-pink-600 hover:underline"
      >Get Started</a
    >
  </div>
</div>
