---
import {
  Card,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Button } from "./ui/button";

const benefits = [
  {
    title: "Simple to Use",
    description:
      "Sign in, create your organization, add locations, start tracking.",
  },
  {
    title: "Insights at a Glance",
    description:
      "Get a snapshot of your inventory across all locations or take a closer look at specific locations.",
  },
  {
    title: "Use on Any Device",
    description:
      "Some solutions are made for desktop only use. Not this. Monitor and update from your phone, tablet, or computer.",
  },
  {
    title: "You're In The Loop",
    description:
      "Your feedback will reflect in how the app grows. Not every idea ships, but every voice shapes the direction.",
  },
];
---

<div class="max-w-screen-lg mx-auto px-4 text-left my-40">
  <h2 class="text-2xl font-black md:text-3xl">
    Not enterprise. <br />Not complicated.
  </h2>
  <p class="sm:max-w-1/2 text-lg text-neutral-600 font-light my-2 md:text-xl">
    You're not running a warehouse.<br /> So why use their software? That's where
    this comes in.
  </p>
  <div class="mt-4 grid sm:grid-cols-2 gap-4">
    {
      benefits.map((feature) => (
        <Card key={feature.title}>
          <CardHeader>
            <CardTitle className="text-lg font-semibold">
              {feature.title}
            </CardTitle>
            <CardDescription className="text-base text-neutral-500">
              {feature.description}
            </CardDescription>
          </CardHeader>
        </Card>
      ))
    }
  </div>
  <div class="mt-8 flex items-center justify-center">
    <Button>Get Started</Button>
  </div>
</div>
