<div class="max-w-screen-md mx-auto px-4 text-left my-16 md:text-center">
  <h1 class="text-4xl font-black md:text-6xl/18">
    Daily Inventory Counts,<br /> Made Simple
  </h1>
  <p class="text-xl text-muted-foreground font-light mt-4 md:text-2xl">
    Quick daily counts for local businesses. No spreadsheet chaos, no overpriced
    licenses, no bloated features.
  </p>
</div>
