<div class="max-w-screen-md mx-auto px-4 text-left my-16 md:text-center">
  <h1 class="text-4xl font-black md:text-6xl/18">
    Inventory Management,<br /> Made Simple
  </h1>
  <p class="text-xl text-muted-foreground font-light mt-4 md:text-2xl">
    Finally, an easier way for local businesses to track inventory. No more
    spreadsheet chaos, overpriced user licenses, or apps stuffed with features
    you don't need.
  </p>
</div>
