---
import { Button } from "./ui/button";
---

<div class="max-w-screen-md mx-auto px-4 text-left my-24 sm:text-center">
  <h1 class="text-2xl font-black md:text-4xl">
    Know What's in Stock at Every Shop, Without Scanners or Complex Software
  </h1>
  <p class="text-muted-foreground font-light mt-4 md:text-xl">
    Easily track inventory across all your locations, see real-time stock
    updates, and avoid running out of (or overstocking) your most important
    items.
  </p>

  <div
    style="position: relative; padding-bottom: 53.95833333333333%; height: 0;"
    class="mt-8 shadow-lg rounded-lg overflow-hidden"
  >
    <iframe
      title="Just the Count product demo video"
      src="https://www.loom.com/embed/bf61738d2c204ebfa498d878ad3d3e26?sid=11d0c79b-1e7b-46a7-8106-a26572231676"
      allowfullscreen
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
    ></iframe>
  </div>
  <div class="mt-8 flex items-center justify-center">
    <a
      href="https://app.justthecount.com/"
      class="text-sm underline-offset-4 font-semibold transition duration-150 hover:text-pink-600 hover:underline"
      >Get Started</a
    >
  </div>
</div>
