<div class="max-w-screen-md mx-auto px-4 text-left my-16 md:text-center">
  <h1 class="text-4xl font-black md:text-6xl/18">
    Daily Inventory Counts,<br /> Made Simple
  </h1>
  <p class="text-xl text-muted-foreground font-light mt-4 md:text-2xl">
    Quick daily counts for local businesses. No spreadsheet chaos, no overpriced
    licenses, no bloated features.
  </p>

  <div
    style="position: relative; padding-bottom: 53.95833333333333%; height: 0;"
    class="mt-8 shadow-lg rounded-lg overflow-hidden"
  >
    <iframe
      src="https://www.loom.com/embed/bf61738d2c204ebfa498d878ad3d3e26?sid=11d0c79b-1e7b-46a7-8106-a26572231676"
      allowfullscreen
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
    ></iframe>
  </div>
</div>
